.background{
    min-height: 70vh;
    width: 100%;
    background: rgba(0,0,0,0.7) url('https://i.pinimg.com/originals/7f/d3/03/7fd30312ab5b336f70e8426a6d084699.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    -webkit-background-size:cover ;
    -moz-background-size:cover;
    -moz-background-size:cover ;
    top:0%;
    
}